In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime

#Visualisation libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from plotly.offline import init_notebook_mode, iplot 
import plotly.graph_objs as go
import plotly.offline as py
!pip install pycountry
import pycountry
py.init_notebook_mode(connected=True)
import folium 
from folium import plugins

# Image
import numpy as np
from PIL import Image

# Animation
import matplotlib.ticker as ticker
import matplotlib.animation as animation
from IPython.display import HTML

# Graphics in retina format 
%config InlineBackend.figure_format = 'retina' 

# Increase the default plot size and set the color scheme
plt.rcParams['figure.figsize'] = 8, 5


# Disable warnings in Anaconda
import warnings
warnings.filterwarnings('ignore')
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     |████████████████████████████████| 10.1 MB 4.0 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pycountry) (57.4.0)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (PEP 517) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681845 sha256=9e7e0faae60f4a312bb2442fae4b01a843d3a6ab9b0f0250fb05680264f11390
  Stored in directory: /root/.cache/pip/wheels/0e/06/e8/7ee176e95ea9a8a8c3b3afcb1869f20adbd42413d4611c6eb4
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5

In [3]:
df = pd.read_csv('forbes-dataset-2020.csv')
df.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

In [4]:
# Creating a copy of the original dataframe- df
df1 = df.copy()
df1.drop('S.NO',axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  301 non-null    object
 1   Nationality           301 non-null    object
 2   Current Rank          301 non-null    int64
 3   Previous Year Rank    277 non-null    object
 4   Sport                 301 non-null    object
 5   Year                  301 non-null    int64
 6   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 16.6+ KB

In [5]:

# Convert string to datetime64
df1['Year'] = df1['Year'].apply(pd.to_datetime,format='%Y')

#Set Date column as the index column.
df1['year'] = pd.DatetimeIndex(df1['Year']).year  
df1.set_index('year', inplace=True)
df1.drop('Year',axis=1,inplace=True)

# Converting the sport column to uppercase
df1['Sport'] = df1['Sport'].str.upper()
df1.head()

# df is the original dataframe while df1 is a copy where the Date has been set as an index column

,Name,Nationality,Current Rank,Previous Year Rank,Sport,earnings ($ million)
year,,,,,,
1990,Mike Tyson,USA,1,NaN,BOXING,28.6
1990,Buster Douglas,USA,2,NaN,BOXING,26.0
1990,Sugar Ray Leonard,USA,3,NaN,BOXING,13.0
1990,Ayrton Senna,Brazil,4,NaN,AUTO RACING,10.0
1990,Alain Prost,France,5,NaN,AUTO RACING,9.0

1. Deportistas cuyo ranking ha subido al menos dos lugares entre 2010 y 2020.

In [6]:
pd.set_option('display.max_rows', None)

In [7]:
from ast import NameConstant
#Eliminar los que no tienen Ranking y subsetear el DF entre los años 2010 y 2020
df_first = df[ (df["Year"] <= 2020) & (df["Year"] > 2009)].dropna()

df_first = df_first.sort_values(["Name","Year", "Current Rank", "Previous Year Rank"], ascending=[True, True, False, False ])

df_first.drop(index=[226,287,211 ], axis=1, inplace=True)

just_once = df_first["Name"].value_counts().to_frame().reset_index().rename(columns={'index':'Name', 'Name':'count'})
just_once = just_once[ just_once["count"] == 1]
l = just_once["Name"].tolist()

df_first = df_first[ df_first["Name"].isin(l) == False]

names = []


def twoOrMoreRanking(col):
    if (col["Previous Year Rank"]  - col["Current Rank"]) >= 2:
        names.append(col["Name"])
    return names



def cleaningRanks(row):
    if ">" in row["Current Rank"]:
        row["Current Rank"] = 10
    
    if ">" in row["Previous Year Rank"]:
        row["Previous Year Rank"] = 10

    return row

df_first = df_first.astype(str).apply(cleaningRanks, axis=1)


df_first["Current Rank"] = df_first["Current Rank"].astype(int)

df_first["Previous Year Rank"] = df_first["Previous Year Rank"].astype(int)



df_first.apply(twoOrMoreRanking, axis=1)
names = list(set(names))

names

['Phil Mickelson',
 'Manny Pacquiao',
 'Stephen Curry',
 'Kevin Durant',
 'Roger Federer',
 'Floyd Mayweather',
 'Lionel Messi',
 'Kobe Bryant',
 'Tiger Woods',
 'LeBron James',
 'Neymar',
 'Cristiano Ronaldo']

2. Atleta con el menor número de apariciones y mayores ganancias.

In [ ]:
names = df['Name'].value_counts().to_frame().reset_index().rename(columns={'index':'Name', 'Name':'count'})
names
lista = names[names["count"]== 1]["Name"].tolist()  #convertir df a lista
lista
lessnumber = df[df["Name"].isin(lista)].sort_values("earnings ($ million)", ascending = False)
lessnumber

3. Deporte y país con mayor número de atletas no rankeados que entraron en la lista de atletas mejor pagados.

In [ ]:
df1["Previous Year Rank"] = df1["Previous Year Rank"].astype(str).replace('??','NaN').replace('?','NaN').replace('<NA>','NaN').replace('not ranked', 'NaN').replace('none','NaN')

df1

In [ ]:

df_not_ranked = df1[ df1["Previous Year Rank"] == 'NaN' ]

df_not_ranked_grouped_nationality = df_not_ranked.groupby(["Nationality"])["Name"].agg('count').to_frame().reset_index().rename(columns={'Name':'count'}).sort_values('count', ascending=False)
display(df_not_ranked_grouped_nationality)

df_not_ranked_grouped_sport = df_not_ranked.groupby(["Sport"])["Name"].agg('count').to_frame().reset_index().rename(columns={'Name':'count'}).sort_values('count', ascending=False)


display(df_not_ranked_grouped_sport)

In [27]:
df_not_ranked_grouped_sport.values

array([['AMERICAN FOOTBALL', 4],
       ['BOXING', 2],
       ['BASKETBALL', 1],
       ['BOXING', 1],
       ['HOCKEY', 1],
       ['NFL', 1]], dtype=object)

In [28]:
df["Sport"].unique()

array(['boxing', 'auto racing', 'golf', 'basketball', 'Basketball',
       'Boxing', 'Auto Racing', 'Golf', 'Tennis', 'NFL', 'Auto racing',
       'NBA', 'Baseball', 'Ice Hockey', 'American Football / Baseball',
       'tennis', 'ice hockey', 'F1 Motorsports', 'NASCAR', 'Hockey',
       'Auto Racing (Nascar)', 'F1 racing', 'American Football', 'soccer',
       'baseball', 'cycling', 'motorcycle gp', 'Soccer', 'MMA'],
      dtype=object)

4. País con mayor número de deportes con atletas en el dataset.

In [44]:
no_deportes = df1.groupby("Nationality")["Sport"].agg('nunique').to_frame().reset_index().rename(columns={'Sport':'count'}).sort_values('count', ascending=False)
no_deportes

         Nationality  count
21               USA     13
4             Canada      4
9            Germany      3
20                UK      2
3             Brazil      2
13  Northern Ireland      1
19       Switzerland      1
18             Spain      1
17            Serbia      1
16            Russia      1
15          Portugal      1
14       Philippines      1
0          Argentina      1
12            Mexico      1
1          Australia      1
10           Ireland      1
8             France      1
7            Finland      1
6           Filipino      1
5          Dominican      1
2            Austria      1
11             Italy      1

5. ¿Cuántos atletas por deporte tiene cada país?

In [12]:
cinco = df1.groupby(['Nationality', "Sport"]).Name.nunique()
cinco

Nationality       Sport
Argentina         SOCCER                           1
Australia         GOLF                             1
Austria           AUTO RACING                      1
Brazil            AUTO RACING                      1
                  SOCCER                           2
Canada            AUTO RACING                      1
                  BOXING                           1
                  HOCKEY                           1
                  ICE HOCKEY                       1
Dominican         BASEBALL                         1
Filipino          BOXING                           1
Finland           F1 RACING                        1
France            AUTO RACING                      1
Germany           AUTO RACING                      1
                  F1 MOTORSPORTS                   1
                  F1 RACING                        1
Ireland           MMA                              1
Italy             MOTORCYCLE GP                    1
Mexico            BOXING                           1
Northern Ireland  GOLF                             1
Philippines       BOXING                           1
Portugal          SOCCER                           1
Russia            ICE HOCKEY                       1
Serbia            TENNIS                           1
Spain             TENNIS                           1
Switzerland       TENNIS                           1
UK                AUTO RACING                      2
                  SOCCER                           1
USA               AMERICAN FOOTBALL               15
                  AMERICAN FOOTBALL / BASEBALL     1
                  AUTO RACING                      1
                  AUTO RACING (NASCAR)             2
                  BASEBALL                         3
                  BASKETBALL                      12
                  BOXING                          11
                  CYCLING                          1
                  GOLF                             6
                  NASCAR                           2
                  NBA                              1
                  NFL                              2
                  TENNIS                           3
Name: Name, dtype: int64

6. Ganancia mínima y máxima (dentro del dataset) por deporte y por país.

In [45]:
df_groupby_sport = df1.groupby("Sport")["earnings ($ million)"].agg("sum").to_frame().reset_index().sort_values("earnings ($ million)", ascending = False)
df_groupby_sport

                           Sport  earnings ($ million)
5                     BASKETBALL                3418.1
6                         BOXING                2298.8
18                        SOCCER                2223.5
10                          GOLF                2136.5
19                        TENNIS                1017.3
0              AMERICAN FOOTBALL                 901.2
9                      F1 RACING                 397.0
2                    AUTO RACING                 386.3
8                 F1 MOTORSPORTS                 248.0
4                       BASEBALL                 146.1
14                 MOTORCYCLE GP                 128.0
13                           MMA                  99.0
15                        NASCAR                  77.2
12                    ICE HOCKEY                  57.8
3           AUTO RACING (NASCAR)                  44.5
17                           NFL                  37.5
7                        CYCLING                  28.0
1   AMERICAN FOOTBALL / BASEBALL                  22.5
11                        HOCKEY                  17.9
16                           NBA                  15.2

In [46]:
sport_max = df_groupby_sport.iloc[0,:]
sport_min = df_groupby_sport.iloc[-1,:]

In [48]:
sport_max

Sport                   BASKETBALL
earnings ($ million)        3418.1
Name: 5, dtype: object

In [49]:
sport_min

Sport                    NBA
earnings ($ million)    15.2
Name: 16, dtype: object

In [51]:
#ganancia mínima y máxima por país

df_groupby_country = df1.groupby("Nationality")["earnings ($ million)"].agg("sum").to_frame().reset_index().sort_values("earnings ($ million)", ascending = False)

df_groupby_country

         Nationality  earnings ($ million)
21               USA                8786.3
15          Portugal                 787.1
19       Switzerland                 781.1
0          Argentina                 715.5
9            Germany                 639.0
20                UK                 443.2
3             Brazil                 422.0
14       Philippines                 242.0
7            Finland                 129.0
11             Italy                 128.0
4             Canada                  99.1
10           Ireland                  99.0
12            Mexico                  94.0
6           Filipino                  62.0
17            Serbia                  55.8
13  Northern Ireland                  50.0
18             Spain                  44.5
8             France                  36.0
5          Dominican                  35.0
16            Russia                  29.8
2            Austria                  13.5
1          Australia                   8.5

In [52]:
country_max = df_groupby_country.iloc[0,:]
country_min = df_groupby_country.iloc[-1,:]

In [53]:
country_max

Nationality                USA
earnings ($ million)    8786.3
Name: 21, dtype: object

In [54]:
country_min

Nationality             Australia
earnings ($ million)          8.5
Name: 1, dtype: object

7. Atleta con mayores ganancias por deporte por década

In [56]:
df_1990_2000 = df[(df["Year"]>= 1990) & (df["Year"]< 2000)]
df_1990_2000

df_1990_2000['Sport'] = df_1990_2000['Sport'].str.upper()

df_1990_2000

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,nan,BOXING,1990,28.6
1,2,Buster Douglas,USA,2,nan,BOXING,1990,26.0
2,3,Sugar Ray Leonard,USA,3,nan,BOXING,1990,13.0
3,4,Ayrton Senna,Brazil,4,nan,AUTO RACING,1990,10.0
4,5,Alain Prost,France,5,nan,AUTO RACING,1990,9.0
5,6,Jack Nicklaus,USA,6,nan,GOLF,1990,8.6
6,7,Greg Norman,Australia,7,nan,GOLF,1990,8.5
7,8,Michael Jordan,USA,8,nan,BASKETBALL,1990,8.1
8,9,Arnold Palmer,USA,8,nan,GOLF,1990,8.1
9,10,Evander Holyfield,USA,8,nan,BOXING,1990,8.1
10,11,Evander Holyfield,USA,1,8,BOXING,1991,60.5
11,12,Mike Tyson,USA,2,1,BOXING,1991,31.5
12,13,Michael Jordan,USA,3,8,BASKETBALL,1991,16.0
13,14,George Foreman,USA,4,>30,BOXING,1991,14.5
14,15,Ayrton Senna,Brazil,5,4,AUTO RACING,1991,13.0
15,16,Alain Prost,France,6,5,AUTO RACING,1991,11.0
16,17,"Donovan ""Razor"" Ruddock",Canada,7,>30,BOXING,1991,10.2
17,18,Arnold Palmer,USA,8,8,GOLF,1991,9.3
18,19,Nigel Mansell,UK,9,12,AUTO RACING,1991,9.0
19,20,Sugar Ray Leonard,USA,10,6,GOLF,1991,8.5
20,21,Michael Jordan,USA,1,3,BASKETBALL,1992,35.9
21,22,Evander Holyfield,USA,2,1,BOXING,1992,28.0
22,23,Ayrton Senna,Brazil,3,5,AUTO RACING,1992,22.0
23,24,Nigel Mansell,UK,4,9,AUTO RACING,1992,14.5
24,25,Arnold Palmer,USA,5,8,GOLF,1992,11.1
25,26,Andre Agassi,USA,6,17,TENNIS,1992,11.0
26,27,Joe Montana,USA,7,13,NFL,1992,9.5
27,28,Sugar Ray Leonard,USA,8,10,GOLF,1992,9.2
28,29,Jim Courier,USA,9,>40,TENNIS,1992,9.0
29,30,Monica Seles,USA,10,12,TENNIS,1992,8.5
30,31,Michael Jordan,USA,1,1,BASKETBALL,1993,36.0
31,32,Riddick Bowe,USA,2,>40,BOXING,1993,25.0
32,33,Ayrton Senna,Brazil,3,3,AUTO RACING,1993,18.5
33,34,Alain Prost,France,4,>40,AUTO RACING,1993,16.0
34,35,George Foreman,USA,5,19,BOXING,1993,15.8
35,36,Shaquille O'Neal,USA,6,>40,NBA,1993,15.2
36,37,Lennox Lewis,USA,7,>40,BOXING,1993,15.0
37,38,Cecil Fielder,USA,8,40,BASEBALL,1993,12.7
38,39,Jim Courier,USA,9,9,TENNIS,1993,12.6
39,40,Joe Montana,USA,10,7,NFL,1993,11.5
40,41,Michael Jordan,USA,1,1,BASKETBALL,1994,30.0
41,42,Shaq O'Neal,USA,2,6,BASKETBALL,1994,16.7
42,43,Jack Nicklaus,USA,3,13,GOLF,1994,14.8
43,44,Arnold Palmer,USA,4,11,GOLF,1994,13.6
44,45,Gerhard Berger,Austria,5,30,AUTO RACING,1994,13.5
45,46,Wayne Gretzky,Canada,5,22,ICE HOCKEY,1994,13.5
46,47,Michael Moorer,USA,7,>40,BOXING,1994,12.1
47,48,Evander Holyfield,USA,8,12,BOXING,1994,12.0
48,49,Andre Agassi,USA,9,20,TENNIS,1994,11.4
49,50,Nigel Mansell,UK,10,19,AUTO RACING,1994,11.3
50,51,Michael Jordan,USA,1,1,BASKETBALL,1995,43.9
51,52,Mike Tyson,USA,2,NaN,BOXING,1995,40.0
52,53,Deion Sanders,USA,3,38,AMERICAN FOOTBALL / BASEBALL,1995,22.5
53,54,Riddick Bowe,USA,4,NaN,BOXING,1995,22.2
54,55,Shaquille O'Neal,USA,5,2,BASKETBALL,1995,21.9
55,56,George Foreman,USA,6,15,BOXING,1995,18.0
56,57,Andre Agassi,USA,7,9,TENNIS,1995,16.0
57,58,Sugar Ray Leonard,USA,8,3,GOLF,1995,15.1
58,59,Michael Schumacher,Germany,9,30,AUTO RACING,1995,15.0
59,60,Wayne Gretzky,Canada,10,5,ICE HOCKEY,1995,14.5
60,61,Mike Tyson,USA,1,2,BOXING,1996,75.0
61,62,Michael Jordan,USA,2,1,BASKETBALL,1996,52.6
62,63,Michael Schumacher,Germany,3,9,F1 MOTORSPORTS,1996,33.0
63,64,Shaquille O'Neal,USA,4,5,BASKETBALL,1996,24.4
64,65,Emmit Smith,USA,5,NaN,NFL,1996,16.5
65,66,Evander Holyfield,USA,6,14,BOXING,1996,15.5
66,67,Andre Agassi,USA,7,7,TENNIS,1996,15.2
67,68,Arnold Palmer,USA,8,11,GOLF,1996,15.1
68,69,Dennis Rodman,USA,9,NaN,BASKETBALL,1996,12.9
69,70,Patrick Ewing,USA,9,19,BASKETBALL,1996,12.9
70,71,Michael Jordan,USA,1,2,BASKETBALL,1997,78.3
71,72,Evander Holyfield,USA,2,6,BOXING,1997,54.3
72,73,Oscar De La Hoya,USA,3,17,BOXING,1997,38.0
73,74,Michael Schumacher,Germany,4,3,F1 MOTORSPORTS,1997,35.0
74,75,Mike Tyson,USA,5,1,BOXING,1997,27.0
75,76,Tiger Woods,USA,6,26,GOLF,1997,26.1
76,77,Shaquille O'Neal,USA,7,4,BASKETBALL,1997,25.4
77,78,Dale Earnhardt,USA,8,20,NASCAR,1997,19.1
78,79,Joe Sakic,Canada,9,NaN,HOCKEY,1997,17.9
79,80,Grant Hill,USA,10,18,BASKETBALL,1997,17.0
80,81,Michael Jordan,USA,1,nan,BASKETBALL,1998,69.0
81,82,Michael Schumacher,Germany,2,nan,F1 MOTORSPORTS,1998,38.0
82,83,Sergei Federov,Russia,3,nan,ICE HOCKEY,1998,29.8
83,84,Tiger Woods,USA,4,nan,GOLF,1998,26.8
84,85,Dale Earnhardt,USA,5,nan,NASCAR,1998,24.1
85,86,Grant Hill,USA,6,nan,BASKETBALL,1998,21.6
86,87,Oscar De La Hoya,USA,7,nan,BOXING,1998,18.5
87,88,Patrick Ewing,USA,8,nan,BASKETBALL,1998,18.3
88,89,Arnold Palmer,USA,9,nan,GOLF,1998,18.1
89,90,Gary Sheffield,USA,10,nan,BASEBALL,1998,17.2
90,91,Michael Schumacher,Germany,1,2,AUTO RACING,1999,49.0
91,92,Tiger Woods,USA,2,4,GOLF,1999,47.0
92,93,Oscar De La Hoya,USA,3,7,BOXING,1999,43.5
93,94,Michael Jordan,USA,4,1,BASKETBALL,1999,40.0
94,95,Evander Holyfield,USA,5,>10,BOXING,1999,35.5
95,96,Mike Tyson,USA,6,>10,BOXING,1999,33.0
96,97,Shaq O'Neal,USA,7,>10,BASKETBALL,1999,31.0
97,98,Lennox Lewis,USA,8,>10,BOXING,1999,29.0
98,99,Dale Earnhardt,USA,9,5,AUTO RACING,1999,26.5
99,100,Grant Hill,USA,10,6,BASKETBALL,1999,23.0

In [58]:
df_2000_2010 = df[(df["Year"]>= 2000) & (df["Year"]< 2010)]

df_2000_2010['Sport'] = df_2000_2010['Sport'].str.upper()
df_2000_2010

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
100,101,Michael Schumacher,Germany,1,1,AUTO RACING,2000,59.0
101,102,Tiger Woods,USA,2,2,GOLF,2000,53.0
102,103,Mike Tyson,USA,3,6,BOXING,2000,48.0
103,104,Michael Jordan,USA,4,4,BASKETBALL,2000,37.0
104,105,Grant Hill,USA,5,10,BASKETBALL,2000,26.0
105,106,Dale Earnhardt,USA,6,9,AUTO RACING (NASCAR),2000,24.5
106,107,Shaq O'Neal,USA,7,7,BASKETBALL,2000,24.0
107,108,Lennox Lewis,USA,8,8,BOXING,2000,23.0
108,109,Oscar De La Hoya,USA,9,3,BOXING,2000,23.0
109,110,Kevin Garnett,USA,10,>10,BASKETBALL,2000,21.0
110,111,Tiger Woods,USA,1,2,GOLF,2002,69.0
111,112,Michael Schumacher,Germany,2,1,F1 MOTORSPORTS,2002,67.0
112,113,Michael Jordan,USA,3,4,BASKETBALL,2002,36.0
113,114,Lennox Lewis,USA,4,8,BOXING,2002,28.0
114,115,Grant Hill,USA,5,5,BASKETBALL,2002,24.0
115,116,Shaquille O'Neal,USA,5,7,BASKETBALL,2002,24.0
116,117,Mike Tyson,USA,7,3,BOXING,2002,23.0
117,118,Kevin Garnett,USA,7,10,BASKETBALL,2002,23.0
118,119,Kobe Bryant,USA,9,>10,BASKETBALL,2002,22.0
119,120,Jacques Villeneuve,Canada,10,>10,AUTO RACING,2002,20.0
120,121,Jeff Gordon,USA,10,>10,AUTO RACING (NASCAR),2002,20.0
121,122,Tiger Woods,USA,1,1,GOLF,2003,78.0
122,123,Michael Schumacher,Germany,2,2,F1 MOTORSPORTS,2003,75.0
123,124,Michael Jordan,USA,3,3,BASKETBALL,2003,35.0
124,125,Shaq O'Neal,USA,4,5,BASKETBALL,2003,30.5
125,126,Oscar De La Hoya,USA,5,>10,BOXING,2003,30.0
126,127,Kevin Garnett,USA,6,7,BASKETBALL,2003,28.0
127,128,Alex Rodriguez,USA,7,>10,BASEBALL,2003,26.0
128,129,Grant Hill,USA,8,5,BASKETBALL,2003,25.5
129,130,Andre Agassi,USA,9,>10,TENNIS,2003,24.0
130,131,Jacques Villeneuve,Canada,10,10,AUTO RACING,2003,23.0
131,132,Tiger Woods,USA,1,1,GOLF,2004,80.3
132,133,Michael Schumacher,Germany,2,2,F1 RACING,2004,80.0
133,134,Peyton Manning,USA,3,>10,AMERICAN FOOTBALL,2004,42.0
134,135,Michael Jordan,USA,4,3,BASKETBALL,2004,35.0
135,136,Shaquille O'Neal,USA,5,4,BASKETBALL,2004,31.9
136,137,Kevin Garnett,USA,6,6,BASKETBALL,2004,29.7
137,138,Andre Agassi,USA,7,9,TENNIS,2004,28.2
138,139,David Beckham,UK,8,>10,SOCCER,2004,28.0
139,140,Alex Rodriguez,USA,9,7,BASEBALL,2004,26.2
140,141,Kobe Bryant,USA,10,>10,BASKETBALL,2004,26.1
141,142,Tiger Woods,USA,1,1,GOLF,2005,87.0
142,143,Michael Schumacher,Germany,2,2,F1 RACING,2005,60.0
143,144,Oscar De La Hoya,USA,3,>10,BOXING,2005,38.0
144,145,Michael Vick,USA,4,>10,AMERICAN FOOTBALL,2005,37.5
145,146,Shaquille O'Neal,USA,5,5,BASKETBALL,2005,33.4
146,147,Michael Jordan,USA,6,4,BASKETBALL,2005,33.0
147,148,David Beckham,UK,7,8,SOCCER,2005,32.5
148,149,Kobe Bryant,USA,8,10,BASKETBALL,2005,28.8
149,150,Lance Armstrong,USA,9,>10,CYCLING,2005,28.0
150,151,Valentino Rossi,Italy,9,>10,MOTORCYCLE GP,2005,28.0
151,152,Tiger Woods,USA,1,1,GOLF,2006,90.0
152,153,Michael Schumacher,Germany,2,2,F1 RACING,2006,58.0
153,154,Muhammad Ali,USA,3,>10,BOXING,2006,55.0
154,155,Phil Mickelson,USA,4,>10,GOLF,2006,47.0
155,156,Michael Jordan,USA,5,6,BASKETBALL,2006,32.0
156,157,Kobe Bryant,USA,6,8,BASKETBALL,2006,31.0
157,158,Shaquille O'Neal,USA,7,5,BASKETBALL,2006,30.0
158,159,Valentino Rossi,Italy,8,9,MOTORCYCLE GP,2006,30.0
159,160,Alex Rodriguez,USA,9,>10,BASEBALL,2006,29.0
160,161,Tom Brady,USA,9,>10,AMERICAN FOOTBALL,2006,29.0
161,162,Tiger Woods,USA,1,1,GOLF,2007,100.0
162,163,Oscar De La Hoya,USA,2,>10,BOXING,2007,43.0
163,164,Phil Mickelson,USA,3,4,GOLF,2007,42.0
164,165,Kimi Raikkonen,Finland,4,>10,F1 RACING,2007,40.0
165,166,Michael Schumacher,Germany,5,2,F1 RACING,2007,36.0
166,167,David Beckham,UK,6,>10,SOCCER,2007,33.0
167,168,Kobe Bryant,USA,6,>10,BASKETBALL,2007,33.0
168,169,Shaquille O'Neal,USA,8,7,BASKETBALL,2007,32.0
169,170,Ronaldinho,Brazil,9,>10,SOCCER,2007,31.0
170,171,Michael Jordan,USA,9,5,BASKETBALL,2007,31.0
171,172,Tiger Woods,USA,1,1,GOLF,2008,115.0
172,173,David Beckham,UK,2,6,SOCCER,2008,50.0
173,174,Michael Jordan,USA,3,9,BASKETBALL,2008,45.0
174,175,Phil Mickelson,USA,3,3,GOLF,2008,45.0
175,176,Kimi Raikkonen,Finland,5,4,F1 RACING,2008,44.0
176,177,Kobe Bryant,USA,6,7,BASKETBALL,2008,39.0
177,178,LeBron James,USA,7,>10,BASKETBALL,2008,38.0
178,179,Ronaldinho,Brazil,8,9,SOCCER,2008,37.0
179,180,Valentino Rossi,Italy,9,>10,MOTORCYCLE GP,2008,35.0
180,181,Roger Federer,Switzerland,9,>10,TENNIS,2008,35.0
181,182,Tiger Woods,USA,1,1,GOLF,2009,110.0
182,183,Kobe Bryant,USA,2,6,BASKETBALL,2009,45.0
183,184,Michael Jordan,USA,2,3,BASKETBALL,2009,45.0
184,185,Kimi Raikkonen,Finland,2,5,F1 RACING,2009,45.0
185,186,David Beckham,UK,5,2,SOCCER,2009,42.0
186,187,LeBron James,USA,6,7,BASKETBALL,2009,40.0
187,188,Phil Mickelson,USA,6,3,GOLF,2009,40.0
188,189,Manny Pacquiao,Philippines,6,>10,BOXING,2009,40.0
189,190,Valentino Rossi,Italy,9,9,MOTORCYCLE GP,2009,35.0
190,191,Dale Earnhardt Jr.,USA,10,>10,NASCAR,2009,34.0

In [59]:
df_2010_2020 = df[(df["Year"]>= 2010) & (df["Year"]< 2020)]

df_2010_2020['Sport'] = df_2010_2020['Sport'].str.upper()

df_2010_2020

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
191,192,Tiger Woods,USA,1,1,GOLF,2010,105.0
192,193,Floyd Mayweather,USA,2,>10,BOXING,2010,65.0
193,194,Kobe Bryant,USA,3,2,BASKETBALL,2010,48.0
194,195,Phil Mickelson,USA,4,6,GOLF,2010,46.0
195,196,David Beckham,UK,5,5,SOCCER,2010,43.7
196,197,Roger Federer,Switzerland,6,>10,TENNIS,2010,43.0
197,198,LeBron James,USA,7,6,BASKETBALL,2010,42.8
198,199,Manny Pacquiao,Philippines,8,6,BOXING,2010,42.0
199,200,Eli Manning,USA,9,>10,AMERICAN FOOTBALL,2010,39.9
200,201,Terrell Suggs,USA,10,>10,AMERICAN FOOTBALL,2010,38.3
201,202,Tiger Woods,USA,1,1,GOLF,2011,75.0
202,203,Kobe Bryant,USA,2,3,BASKETBALL,2011,53.0
203,204,LeBron James,USA,3,7,BASKETBALL,2011,48.0
204,205,Roger Federer,Switzerland,4,6,TENNIS,2011,47.0
205,206,Phil Mickelson,USA,5,4,GOLF,2011,46.5
206,207,David Beckham,UK,6,5,SOCCER,2011,40.0
207,208,Cristiano Ronaldo,Portugal,7,13,SOCCER,2011,38.0
208,209,Alex Rodriguez,Dominican,8,12,BASEBALL,2011,35.0
209,210,Michael Schumacher,Germany,9,>20,F1 RACING,2011,34.0
210,211,Lionel Messi,Argentina,10,>20,SOCCER,2011,32.3
211,212,Floyd Mayweather,USA,1,NaN,BOXING,2012,85.0
212,213,Manny Pacquiao,Filipino,2,24,BOXING,2012,62.0
213,214,Tiger Woods,USA,3,1,GOLF,2012,59.4
214,215,LeBron James,USA,4,3,BASKETBALL,2012,53.0
215,216,Roger Federer,Switzerland,5,4,TENNIS,2012,52.7
216,217,Kobe Bryant,USA,6,2,BASKETBALL,2012,52.3
217,218,Phil Mickelson,USA,7,5,GOLF,2012,47.8
218,219,David Beckham,UK,8,6,SOCCER,2012,46.0
219,220,Cristiano Ronaldo,Portugal,9,21,SOCCER,2012,42.5
220,221,Peyton Manning,USA,10,7,AMERICAN FOOTBALL,2012,42.4
221,222,Tiger Woods,USA,1,3,GOLF,2013,78.1
222,223,Roger Federer,Switzerland,2,5,TENNIS,2013,71.5
223,224,Kobe Bryant,USA,3,6,BASKETBALL,2013,61.9
224,225,LeBron James,USA,4,4,BASKETBALL,2013,59.8
225,226,Drew Brees,USA,5,NaN,AMERICAN FOOTBALL,2013,51.0
226,227,Aaron Rodgers,USA,6,NaN,AMERICAN FOOTBALL,2013,49.0
227,228,Phil Mickelson,USA,7,7,GOLF,2013,48.7
228,229,David Beckham,UK,8,8,SOCCER,2013,47.2
229,230,Cristiano Ronaldo,Portugal,9,9,SOCCER,2013,44.0
230,231,Lionel Messi,Argentina,10,11,SOCCER,2013,41.3
231,232,Floyd Mayweather,USA,1,14,BOXING,2014,105.0
232,233,Cristiano Ronaldo,Portugal,2,9,SOCCER,2014,80.0
233,234,LeBron James,USA,3,4,BASKETBALL,2014,72.3
234,235,Lionel Messi,Argentina,4,10,SOCCER,2014,64.7
235,236,Kobe Bryant,USA,5,3,BASKETBALL,2014,61.5
236,237,Tiger Woods,USA,6,1,GOLF,2014,61.2
237,238,Roger Federer,Switzerland,7,2,TENNIS,2014,56.2
238,239,Phil Mickelson,USA,8,7,GOLF,2014,53.2
239,240,Rafael Nadal,Spain,9,>14,TENNIS,2014,44.5
240,241,Matt Ryan,USA,10,>100,AMERICAN FOOTBALL,2014,43.8
241,242,Floyd Mayweather,USA,1,1,BOXING,2015,300.0
242,243,Manny Pacquiao,Philippines,2,11,BOXING,2015,160.0
243,244,Cristiano Ronaldo,Portugal,3,2,SOCCER,2015,79.6
244,245,Lionel Messi,Argentina,4,4,SOCCER,2015,73.8
245,246,Roger Federer,Switzerland,5,7,TENNIS,2015,67.0
246,247,LeBron James,USA,6,3,BASKETBALL,2015,64.8
247,248,Kevin Durant,USA,7,20,BASKETBALL,2015,54.2
248,249,Phil Mickelson,USA,8,8,GOLF,2015,50.8
249,250,Tiger Woods,USA,9,6,GOLF,2015,50.6
250,251,Kobe Bryant,USA,10,5,BASKETBALL,2015,49.5
251,252,Cristiano Ronaldo,Portugal,1,3,SOCCER,2016,88.0
252,253,Lionel Messi,Argentina,2,4,SOCCER,2016,81.4
253,254,LeBron James,USA,3,6,BASKETBALL,2016,77.2
254,255,Roger Federer,Switzerland,4,5,TENNIS,2016,67.8
255,256,Kevin Durant,USA,5,7,BASKETBALL,2016,56.2
256,257,Novak Djokovic,Serbia,6,13,TENNIS,2016,55.8
257,258,Cam Newton,USA,7,>20,AMERICAN FOOTBALL,2016,53.1
258,259,Phil Mickelson,USA,8,8,GOLF,2016,52.9
259,260,Jordan Spieth,USA,9,>20,GOLF,2016,52.8
260,261,Kobe Bryant,USA,10,10,BASKETBALL,2016,50.0
261,262,Cristiano Ronaldo,Portugal,1,1,SOCCER,2017,93.0
262,263,LeBron James,USA,2,3,BASKETBALL,2017,86.2
263,264,Lionel Messi,Argentina,3,2,SOCCER,2017,80.0
264,265,Roger Federer,Switzerland,4,4,TENNIS,2017,64.0
265,266,Kevin Durant,USA,5,5,BASKETBALL,2017,60.6
266,267,Andrew Luck,USA,6,nan,AMERICAN FOOTBALL,2017,50.0
267,268,Rory McIlroy,Northern Ireland,6,17,GOLF,2017,50.0
268,269,Stephen Curry,USA,8,nan,BASKETBALL,2017,47.3
269,270,James Harden,USA,9,nan,BASKETBALL,2017,46.6
270,271,Lewis Hamilton,UK,10,nan,AUTO RACING,2017,46.0
271,272,Floyd Mayweather,USA,1,>100,BOXING,2018,285.0
272,273,Lionel Messi,Argentina,2,3,SOCCER,2018,111.0
273,274,Cristiano Ronaldo,Portugal,3,1,SOCCER,2018,108.0
274,275,Conor McGregor,Ireland,4,24,MMA,2018,99.0
275,276,Neymar,Brazil,5,18,SOCCER,2018,90.0
276,277,LeBron James,USA,6,2,BASKETBALL,2018,85.5
277,278,Roger Federer,Switzerland,7,4,TENNIS,2018,77.2
278,279,Stephen Curry,USA,8,8,BASKETBALL,2018,76.9
279,280,Matt Ryan,USA,9,>100,AMERICAN FOOTBALL,2018,67.3
280,281,Matthew Stafford,USA,10,>100,AMERICAN FOOTBALL,2018,59.5
281,282,Lionel Messi,Argentina,1,2,SOCCER,2019,127.0
282,283,Cristiano Ronaldo,Portugal,2,3,SOCCER,2019,109.0
283,284,Neymar,Brazil,3,5,SOCCER,2019,105.0
284,285,Canelo Alvarez,Mexico,4,15,BOXING,2019,94.0
285,286,Roger Federer,Switzerland,5,7,TENNIS,2019,93.4
286,287,Russell Wilson,USA,6,NaN,AMERICAN FOOTBALL,2019,89.5
287,288,Aaron Rogers,USA,7,NaN,AMERICAN FOOTBALL,2019,89.3
288,289,LeBron James,USA,8,6,BASKETBALL,2019,89.0
289,290,Stephen Curry,USA,9,8,BASKETBALL,2019,79.8
290,291,Kevin Durant,USA,10,11,BASKETBALL,2019,65.4

In [60]:
df_groupby_sport_1990_2000 = df_1990_2000.groupby(["Sport","Name"])["earnings ($ million)"].agg("sum").to_frame().reset_index().sort_values(by=['Sport', 'earnings ($ million)'],ascending=False)
df_groupby_sport_1990_2000

,Sport,Name,earnings ($ million)
38,TENNIS,Andre Agassi,53.6
39,TENNIS,Jim Courier,21.6
40,TENNIS,Monica Seles,8.5
37,NFL,Joe Montana,21.0
36,NFL,Emmit Smith,16.5
35,NBA,Shaquille O'Neal,15.2
34,NASCAR,Dale Earnhardt,43.2
32,ICE HOCKEY,Sergei Federov,29.8
33,ICE HOCKEY,Wayne Gretzky,28.0
31,HOCKEY,Joe Sakic,17.9
30,GOLF,Tiger Woods,99.9
26,GOLF,Arnold Palmer,75.3
29,GOLF,Sugar Ray Leonard,32.8
28,GOLF,Jack Nicklaus,23.4
27,GOLF,Greg Norman,8.5
25,F1 MOTORSPORTS,Michael Schumacher,106.0
21,BOXING,Mike Tyson,235.1
17,BOXING,Evander Holyfield,213.9
22,BOXING,Oscar De La Hoya,100.0
18,BOXING,George Foreman,48.3
23,BOXING,Riddick Bowe,47.2
19,BOXING,Lennox Lewis,44.0
15,BOXING,Buster Douglas,26.0
24,BOXING,Sugar Ray Leonard,13.0
20,BOXING,Michael Moorer,12.1
16,BOXING,"Donovan ""Razor"" Ruddock",10.2
11,BASKETBALL,Michael Jordan,409.8
14,BASKETBALL,Shaquille O'Neal,71.7
10,BASKETBALL,Grant Hill,61.6
13,BASKETBALL,Shaq O'Neal,47.7
12,BASKETBALL,Patrick Ewing,31.2
9,BASKETBALL,Dennis Rodman,12.9
8,BASEBALL,Gary Sheffield,17.2
7,BASEBALL,Cecil Fielder,12.7
5,AUTO RACING,Michael Schumacher,64.0
2,AUTO RACING,Ayrton Senna,63.5
1,AUTO RACING,Alain Prost,36.0
6,AUTO RACING,Nigel Mansell,34.8
3,AUTO RACING,Dale Earnhardt,26.5
4,AUTO RACING,Gerhard Berger,13.5
0,AMERICAN FOOTBALL / BASEBALL,Deion Sanders,22.5

In [61]:
df_groupby_sport_2000_2010 = df_2000_2010.groupby(["Sport","Name"])["earnings ($ million)"].agg("sum").to_frame().reset_index().sort_values(by=['Sport', 'earnings ($ million)'],ascending=False)
df_groupby_sport_2000_2010

                   Sport                Name  earnings ($ million)
30                TENNIS        Andre Agassi                  52.2
31                TENNIS       Roger Federer                  35.0
28                SOCCER       David Beckham                 185.5
29                SOCCER          Ronaldinho                  68.0
27                NASCAR  Dale Earnhardt Jr.                  34.0
26         MOTORCYCLE GP     Valentino Rossi                 128.0
25                  GOLF         Tiger Woods                 782.3
24                  GOLF      Phil Mickelson                 174.0
23             F1 RACING  Michael Schumacher                 234.0
22             F1 RACING      Kimi Raikkonen                 129.0
21        F1 MOTORSPORTS  Michael Schumacher                 142.0
20               CYCLING     Lance Armstrong                  28.0
19                BOXING    Oscar De La Hoya                 134.0
17                BOXING          Mike Tyson                  71.0
18                BOXING        Muhammad Ali                  55.0
15                BOXING        Lennox Lewis                  51.0
16                BOXING      Manny Pacquiao                  40.0
12            BASKETBALL      Michael Jordan                 329.0
10            BASKETBALL         Kobe Bryant                 224.9
14            BASKETBALL    Shaquille O'Neal                 151.3
9             BASKETBALL       Kevin Garnett                 101.7
11            BASKETBALL        LeBron James                  78.0
8             BASKETBALL          Grant Hill                  75.5
13            BASKETBALL         Shaq O'Neal                  54.5
7               BASEBALL      Alex Rodriguez                  81.2
5   AUTO RACING (NASCAR)      Dale Earnhardt                  24.5
6   AUTO RACING (NASCAR)         Jeff Gordon                  20.0
4            AUTO RACING  Michael Schumacher                  59.0
3            AUTO RACING  Jacques Villeneuve                  43.0
1      AMERICAN FOOTBALL      Peyton Manning                  42.0
0      AMERICAN FOOTBALL        Michael Vick                  37.5
2      AMERICAN FOOTBALL           Tom Brady                  29.0

In [62]:
df_groupby_sport_2010_2020 = df_2010_2020.groupby(["Sport","Name"])["earnings ($ million)"].agg("sum").to_frame().reset_index().sort_values(by=['Sport', 'earnings ($ million)'],ascending=False)
df_groupby_sport_2010_2020

                Sport                Name  earnings ($ million)
33             TENNIS       Roger Federer                 639.8
31             TENNIS      Novak Djokovic                  55.8
32             TENNIS        Rafael Nadal                  44.5
27             SOCCER   Cristiano Ronaldo                 682.1
29             SOCCER        Lionel Messi                 611.5
30             SOCCER              Neymar                 195.0
28             SOCCER       David Beckham                 176.9
26                MMA      Conor McGregor                  99.0
25               GOLF         Tiger Woods                 429.3
23               GOLF      Phil Mickelson                 345.9
22               GOLF       Jordan Spieth                  52.8
24               GOLF        Rory McIlroy                  50.0
21          F1 RACING  Michael Schumacher                  34.0
19             BOXING    Floyd Mayweather                 840.0
20             BOXING      Manny Pacquiao                 264.0
18             BOXING      Canelo Alvarez                  94.0
16         BASKETBALL        LeBron James                 678.6
15         BASKETBALL         Kobe Bryant                 376.2
14         BASKETBALL        Kevin Durant                 236.4
17         BASKETBALL       Stephen Curry                 204.0
13         BASKETBALL        James Harden                  46.6
12           BASEBALL      Alex Rodriguez                  35.0
11        AUTO RACING      Lewis Hamilton                  46.0
6   AMERICAN FOOTBALL           Matt Ryan                 111.1
9   AMERICAN FOOTBALL      Russell Wilson                  89.5
1   AMERICAN FOOTBALL        Aaron Rogers                  89.3
7   AMERICAN FOOTBALL    Matthew Stafford                  59.5
3   AMERICAN FOOTBALL          Cam Newton                  53.1
4   AMERICAN FOOTBALL          Drew Brees                  51.0
2   AMERICAN FOOTBALL         Andrew Luck                  50.0
0   AMERICAN FOOTBALL       Aaron Rodgers                  49.0
8   AMERICAN FOOTBALL      Peyton Manning                  42.4
5   AMERICAN FOOTBALL         Eli Manning                  39.9
10  AMERICAN FOOTBALL       Terrell Suggs                  38.3

8. Ganancia total por cada deporte por cada año.

In [66]:
df["Sport"] = df["Sport"].str.upper()
df_max_earning_year = df.groupby(["Year","Sport"])["earnings ($ million)"].agg("sum").to_frame().reset_index().sort_values(by=['Year', 'earnings ($ million)'],ascending=False)

df_max_earning_year

     Year                         Sport  earnings ($ million)
174  2020                        SOCCER                 304.5
172  2020                    BASKETBALL                 226.5
171  2020             AMERICAN FOOTBALL                 119.6
175  2020                        TENNIS                 106.3
173  2020                          GOLF                  62.3
169  2019                        SOCCER                 341.0
167  2019                    BASKETBALL                 234.2
166  2019             AMERICAN FOOTBALL                 178.8
168  2019                        BOXING                  94.0
170  2019                        TENNIS                  93.4
164  2018                        SOCCER                 309.0
162  2018                        BOXING                 285.0
161  2018                    BASKETBALL                 162.4
160  2018             AMERICAN FOOTBALL                 126.8
163  2018                           MMA                  99.0
165  2018                        TENNIS                  77.2
156  2017                    BASKETBALL                 240.7
158  2017                        SOCCER                 173.0
159  2017                        TENNIS                  64.0
154  2017             AMERICAN FOOTBALL                  50.0
157  2017                          GOLF                  50.0
155  2017                   AUTO RACING                  46.0
150  2016                    BASKETBALL                 183.4
152  2016                        SOCCER                 169.4
153  2016                        TENNIS                 123.6
151  2016                          GOLF                 105.7
149  2016             AMERICAN FOOTBALL                  53.1
145  2015                        BOXING                 460.0
144  2015                    BASKETBALL                 168.5
147  2015                        SOCCER                 153.4
146  2015                          GOLF                 101.4
148  2015                        TENNIS                  67.0
142  2014                        SOCCER                 144.7
139  2014                    BASKETBALL                 133.8
141  2014                          GOLF                 114.4
140  2014                        BOXING                 105.0
143  2014                        TENNIS                 100.7
138  2014             AMERICAN FOOTBALL                  43.8
136  2013                        SOCCER                 132.5
135  2013                          GOLF                 126.8
134  2013                    BASKETBALL                 121.7
133  2013             AMERICAN FOOTBALL                 100.0
137  2013                        TENNIS                  71.5
129  2012                        BOXING                 147.0
130  2012                          GOLF                 107.2
128  2012                    BASKETBALL                 105.3
131  2012                        SOCCER                  88.5
132  2012                        TENNIS                  52.7
127  2012             AMERICAN FOOTBALL                  42.4
124  2011                          GOLF                 121.5
125  2011                        SOCCER                 110.3
122  2011                    BASKETBALL                 101.0
126  2011                        TENNIS                  47.0
121  2011                      BASEBALL                  35.0
123  2011                     F1 RACING                  34.0
118  2010                          GOLF                 151.0
117  2010                        BOXING                 107.0
116  2010                    BASKETBALL                  90.8
115  2010             AMERICAN FOOTBALL                  78.2
119  2010                        SOCCER                  43.7
120  2010                        TENNIS                  43.0
111  2009                          GOLF                 150.0
108  2009                    BASKETBALL                 130.0
110  2009                     F1 RACING                  45.0
114  2009                        SOCCER                  42.0
109  2009                        BOXING                  40.0
112  2009                 MOTORCYCLE GP                  35.0
113  2009                        NASCAR                  34.0
104  2008                          GOLF                 160.0
102  2008                    BASKETBALL                 122.0
106  2008                        SOCCER                  87.0
103  2008                     F1 RACING                  44.0
105  2008                 MOTORCYCLE GP                  35.0
107  2008                        TENNIS                  35.0
100  2007                          GOLF                 142.0
97   2007                    BASKETBALL                  96.0
99   2007                     F1 RACING                  76.0
101  2007                        SOCCER                  64.0
98   2007                        BOXING                  43.0
95   2006                          GOLF                 137.0
92   2006                    BASKETBALL                  93.0
94   2006                     F1 RACING                  58.0
93   2006                        BOXING                  55.0
96   2006                 MOTORCYCLE GP                  30.0
90   2006             AMERICAN FOOTBALL                  29.0
91   2006                      BASEBALL                  29.0
83   2005                    BASKETBALL                  95.2
87   2005                          GOLF                  87.0
86   2005                     F1 RACING                  60.0
84   2005                        BOXING                  38.0
82   2005             AMERICAN FOOTBALL                  37.5
89   2005                        SOCCER                  32.5
85   2005                       CYCLING                  28.0
88   2005                 MOTORCYCLE GP                  28.0
77   2004                    BASKETBALL                 122.7
79   2004                          GOLF                  80.3
78   2004                     F1 RACING                  80.0
75   2004             AMERICAN FOOTBALL                  42.0
81   2004                        TENNIS                  28.2
80   2004                        SOCCER                  28.0
76   2004                      BASEBALL                  26.2
70   2003                    BASKETBALL                 119.0
73   2003                          GOLF                  78.0
72   2003                F1 MOTORSPORTS                  75.0
71   2003                        BOXING                  30.0
69   2003                      BASEBALL                  26.0
74   2003                        TENNIS                  24.0
68   2003                   AUTO RACING                  23.0
64   2002                    BASKETBALL                 129.0
67   2002                          GOLF                  69.0
66   2002                F1 MOTORSPORTS                  67.0
65   2002                        BOXING                  51.0
62   2002                   AUTO RACING                  20.0
63   2002          AUTO RACING (NASCAR)                  20.0
59   2000                    BASKETBALL                 108.0
60   2000                        BOXING                  94.0
57   2000                   AUTO RACING                  59.0
61   2000                          GOLF                  53.0
58   2000          AUTO RACING (NASCAR)                  24.5
55   1999                        BOXING                 141.0
54   1999                    BASKETBALL                  94.0
53   1999                   AUTO RACING                  75.5
56   1999                          GOLF                  47.0
47   1998                    BASKETBALL                 108.9
50   1998                          GOLF                  44.9
49   1998                F1 MOTORSPORTS                  38.0
51   1998                    ICE HOCKEY                  29.8
52   1998                        NASCAR                  24.1
48   1998                        BOXING                  18.5
46   1998                      BASEBALL                  17.2
40   1997                    BASKETBALL                 120.7
41   1997                        BOXING                 119.3
42   1997                F1 MOTORSPORTS                  35.0
43   1997                          GOLF                  26.1
45   1997                        NASCAR                  19.1
44   1997                        HOCKEY                  17.9
34   1996                    BASKETBALL                 102.8
35   1996                        BOXING                  90.5
36   1996                F1 MOTORSPORTS                  33.0
38   1996                           NFL                  16.5
39   1996                        TENNIS                  15.2
37   1996                          GOLF                  15.1
30   1995                        BOXING                  80.2
29   1995                    BASKETBALL                  65.8
27   1995  AMERICAN FOOTBALL / BASEBALL                  22.5
33   1995                        TENNIS                  16.0
31   1995                          GOLF                  15.1
28   1995                   AUTO RACING                  15.0
32   1995                    ICE HOCKEY                  14.5
22   1994                    BASKETBALL                  46.7
24   1994                          GOLF                  28.4
21   1994                   AUTO RACING                  24.8
23   1994                        BOXING                  24.1
25   1994                    ICE HOCKEY                  13.5
26   1994                        TENNIS                  11.4
17   1993                        BOXING                  55.8
16   1993                    BASKETBALL                  36.0
14   1993                   AUTO RACING                  34.5
18   1993                           NBA                  15.2
15   1993                      BASEBALL                  12.7
20   1993                        TENNIS                  12.6
19   1993                           NFL                  11.5
8    1992                   AUTO RACING                  36.5
9    1992                    BASKETBALL                  35.9
13   1992                        TENNIS                  28.5
10   1992                        BOXING                  28.0
11   1992                          GOLF                  20.3
12   1992                           NFL                   9.5
6    1991                        BOXING                 116.7
4    1991                   AUTO RACING                  33.0
7    1991                          GOLF                  17.8
5    1991                    BASKETBALL                  16.0
2    1990                        BOXING                  75.7
3    1990                          GOLF                  25.2
0    1990                   AUTO RACING                  19.0
1    1990                    BASKETBALL                   8.1

9. Crea un tablero en Power BI que represente los aspectos más importantes del dataset, a tu gusto.

https://datastudio.google.com/s/mU5O3DwVgOs